<div class= "container d-flex flex-column">
          
        <p style="color: green"><%= notice %></p>

        <div class="container d-flex justify-content-between m-4 border">
          <img src="<%= @user.photo %>" >
          <h1><%= @user.name %></h1>
          <p>Number of posts: <%= @user.posts_counter || 0 %></p>
        </div>

        <div class="container d-flex flex-column m-4 border">
          <h2>Bio: </h2>
          <p><%= @user.bio %></p>
        </div>
        
       <% @user.last_posts.each_with_index do |post, index| %>
        <div class="container d-flex flex-column m-4 border">
         <p>post# <%= index %></p>
         <h3><%= post.title %></h3>
         <p><%= truncate(post.text, length: 30) %></p>
         <div class="d-flex justify-content-end">
            <span>Comments:<%= post.comments_counter || 0 %></span>
            <span>Likes:<%= post.likes_counter || 0 %></span>
         </div>
        </div>
      
       <% end %>
       <div class="d-flex justify-content-center">
          <button class="btn btn-outline-dark" type="button"> <%= link_to "See all posts", user_posts_path(@user) %></button>
       </div>

</div>