<div class= "container d-flex flex-column">
     <div class="container d-flex justify-content-between m-4 border">
          <img src="<%= @user.photo %>" >
          <h1><%= @user.name %></h1>
          <p>Number of posts: <%= @user.posts_counter || 0 %></p>
      </div>

  <% @user.last_posts.each_with_index do |post, index| %>
  <div class="container d-flex flex-column m-4 border">
     <p>post# <%= index %></p>
          <h2 class="no_underline"><%= link_to post.title, user_post_path(@user, post) %></h2>
           <p><%= truncate(post.text, length: 30) %></p>
           <div class="d-flex justify-content-end">
            <span class="no_underline"><%= link_to "Comments:", new_post_comment_path(post) %><%= post.comments_counter || 0 %></span>
            <span class="no_underline"><%= link_to "Likes:", new_post_like_path(post) %><%= post.likes_counter || 0 %></span>
         </div>
   </div>
   
   <div class="container d-flex justify-content-between m-4 border">
      <ul>
      <% post.latest_comments.each do |comment| %>
      <li>comments:<%= comment.text %></li>
       <% end %>
      </ul>
      </div>
  <% end %>
  <div class="d-flex justify-content-center">
          <button class="btn btn-outline-dark" type="button"> <%= link_to "Add Post", new_user_post_path %></button>
       </div>
</div>