<div class= "container d-flex flex-column mt-4">

<%= form_with model: @post, url:  user_posts_path, method: :post, local: true do |form| %>
  
  <div class="mb-3">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.label :text, style: "display: block", class: "form-label" %>
    <%= form.text_area :text, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-success btn-block" %>
  </div>
<% end %>

</div>